@model PetAdoption.Models.AccountDto

@{
    ViewData["Title"] = "Edit Account";
}

<h1>Edit Account</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Update" asp-route-id="@Model.AccountId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountId" />

            <div class="form-group">
                <label asp-for="AccountName" class="control-label">AccountName</label>
                <input asp-for="AccountName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="AccountPassword" class="control-label">AccountPassword</label>
                <input asp-for="AccountPassword" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="AccountEmail" class="control-label">AccountEmail</label>
                <input asp-for="AccountEmail" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="AccountRole" class="control-label">AccountRole</label>
                <input asp-for="AccountRole" class="form-control" />
            </div>


            <div class="form-group">
                <label asp-for="LocationId" class="control-label">LocationId</label>
                <input asp-for="LocationId" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
