@model PetAdoption.Models.AccountDto

@{
    ViewData["Title"] = "Create New Account";
    var layout = Context.Items["Layout"] as string ?? "_LayoutAdmin"; // Default to "_Layout" if not set
    Layout = layout;
}

<h1>Create New Account</h1>

<h4>Account Information</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Name -->
            <div class="form-group">
                <label asp-for="AccountName" class="control-label">AccountName</label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label asp-for="AccountEmail" class="control-label">AccountEmail</label>
                <textarea asp-for="AccountEmail" class="form-control"></textarea>
                <span asp-validation-for="AccountEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AccountPassword" class="control-label">AccountPassword</label>
                <textarea asp-for="AccountPassword" class="form-control"></textarea>
                <span asp-validation-for="AccountPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AccountRole" class="control-label">AccountRole</label>
                <textarea asp-for="AccountRole" class="form-control"></textarea>
                <span asp-validation-for="AccountRole" class="text-danger"></span>
            </div>
            

            <!-- Location -->
            <div class="form-group">
                <label asp-for="LocationId" class="control-label">Location Name</label>
                <select asp-for="LocationId" class="form-control">
                    <option value="">Select a Location</option>
                    @foreach (var location in ViewBag.Locations)
                    {
                        <option value="@location.Value">@location.Text</option>
                    }
                </select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <!-- Submit Button -->
            <div class="form-group">
                <input type="submit" value="Create Account" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to Account</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
