@model IEnumerable<PetAdoption.Models.PetDto>

@{
    ViewData["Title"] = "Pets List";
    var layout = Context.Items["Layout"] as string ?? "_LayoutAdmin";
    Layout = layout;
}

<h1>Pets List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PetName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PetName)
                </td>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.PetId" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
