@model PetAdoption.Models.MenuItemDto

@{
    ViewData["Title"] = "Edit MenuItem";
}

<h1>Edit MenuItem</h1>

<h4>Menu Items</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Update" asp-route-id="@Model.MenuItemId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MenuItemId" />

            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label">Price</label>
                <input asp-for="Price" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="FoodTruckId" class="control-label">FoodTruckId</label>
                <input asp-for="FoodTruckId" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
